* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    column-gap: 10px;
}

#navbar {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    border-right: rgb(99, 99, 99) solid 3px;
    height: 100%;
}

#navbar>header>h1 {
    margin: 1.2em 0;
}

#navbar .nav-link {
    width: 100%;
    text-decoration: none;
    border-bottom: rgb(99, 99, 99) solid 1px;
    border-top: rgb(99, 99, 99) solid 1px;
    padding: 1.5em 0;
    list-style-type: none;
    color: black;
    font-size: 1.3em;
}

#navbar .nav-link:hover {
    background-color: rgba(212, 212, 209, 0.519);
}

#navbar .nav-link:last-of-type {
    border-bottom: none;
}


#main-doc {
    margin-left: 25%;
    padding: 1em;
}

#main-doc>.main-section {
    margin-bottom: 2rem;
}

#main-doc>.main-section>header {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#main-doc>.main-section>header>h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.description {
    background-color: lightgray;
    padding: 3px;
    border: rgb(173, 172, 172) solid 1px;
    border-radius: 5px;
    display: inline-block;
    font-family: monospace;
    margin-bottom: 1rem;
}

#main-doc>.main-section>.section-content {
    margin-bottom: 1.5rem;
}

.title-peso2 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.title-peso3 {
    margin: 0.5rem 0;
    font-size: 1.3rem;
}

.title-peso4 {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

ul {
    margin: 1rem 0;
}

ul>li {
    margin: 0.5rem 0;
}

h1, h2, .bold{
    font-weight: bold !important;
}

@media (min-width: 768px) and (max-width: 1366px){
    #navbar{
        width: 24.99%;
    }
}